body {
    background: url("content/backgroundCA.jpg");
    backgroundmax-width: 100%;
    height: auto;
}

h1.mainTitle {
    background-color: #adadad;
    width: fit-content;
}
ul.navbar{
    list-style-type: none;
    margin: 0;
    padding: 8px;
    width: fit-content;

}
li {
    float: left;
}
li a{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    border: 1px solid #555;


}
li a:hover {
    background-color: #e2e2e2;
    color: white;
}

.active {
    background-color: #adadad;
}