<h1>Exercise Log</h1>
<h2>Use form to log an exercise session</h2>
<form action = >
    <br>
    <label> exercise name:
        <input type="text" name="name_input" size="30" maxlength="100" required>
    </label>
    </br>
    <label>reps:
        <input type="number" name="reps_input" size="10" maxlength="10">
    </label>
    </br>
    <label>weight used:
        <input type="number" name="number_input" size="10" maxlength="10" required>
    </label>
    </br>
    <p>kilos or lbs</p>
    <label>
        <input type="radio" name="kgs" /> kilos</label>
    <label>
        <input type="radio" name="candy" /> lbs</label>
    <label>date:(MM-DD-YYYY)
        <input type="text" name="date_input" size="30" maxlength="10" >
    </label>
    </br>
    <input type="submit" value="Save">
</form>
