<h1>Exercise Log</h1>
<br action = >
    <br>
    <label> exercise name:
        <input type="text" name="name_input" size="30" maxlength="100" required>
    </label>
    </br>
    <label>reps:
        <input type="number" name="reps_input" size="10" maxlength="10">
    </label>
    </br>
    <label>weight used:
        <input type="number" name="number_input" size="10" maxlength="10">
    </label>
    <label>
        <input type="radio" name="kilos" /> kilos</label>
        <input type="radio" name="lbs" /> lbs</label>
    </br>
    <label>date:(MM-DD-YYYY)
        <input type="text" name="date_input" size="30" maxlength="10" >
    </label>
    </br>
    <input type="submit" value="Save">
</form>
<table>
    <tr></tr>
</table>
